* {
    margin: 0;
    padding: 0;

}

body {
    color: #456cce;
}

/* background div */
.bgcontainer {
    background-image: url();
    height: 100vh;
    filter: blur(10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/* about song */
.songDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trackImage {
    background-image: url();
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(144, 120, 1204, 0.2), 0 6px 20px 0 rgba(144, 120, 120, 0.19);
    
}
.round {
    transition: around 1s ininite;
}

.reset {
    transform: rotate(0deg);
}

@keyframes around {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.trackName {
    font-size: 35px;
}

.trackArtist {
    font-size: 25px;
    margin: 13px 0;
}

/* about time */
.timeDiv {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentDisplay,
.totalDisplay {
    text-shadow: 
    1px 1px 0 #dec5c5, 
    -1px -1px 0 #dec5c5, 
    1px -1px 0 #dec5c5, 
    -1px 1px 0 #dec5c5;
    font-size: 22px;
    font-weight: 600;
}

.totalTimeLength {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #ffffff;
    margin: 0px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.currentTime {
    position: absolute;
    cursor: pointer;
    width: 0%;
    height: 8px;
    background-color: #267bc5;
    border-radius: 5px;
}

.currentTime::after {
    content: "";
    position: absolute;
    background-color: #267bc5;
    border: 1.5px solid #ffeeee;
    cursor: pointer;
    top: -3.3px;
    right: -5px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.round {
    animation: round 5s linear infinite;
}

@keyframes round {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* about buttons */
.buttons {
    font-size: 21px;
    display: flex;
    align-items: center;
}

.preButton,
.playPause,
.nextButton {
    padding: 15px;
    transition: 0.5s;
}


.preButton:hover,
.playPause:hover,
.nextButton:hover {
    transform: scale(1.2);
}

i {
    cursor: pointer;
}



/* display */
.hidden {
    display: none;
}